.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#content-wrap {
  padding-bottom: 3rem; // for footer
  margin: auto;
  padding: 0.25rem;
  position: relative;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem; // fotoer height
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card {
  background-color: #ffffff;
  padding: 1rem;
  width: 402px;
  box-shadow: 0.5px 3px 4px 1px rgba(0, 0, 0, 0.1);
  margin: 2.5rem 0 2.5rem 0;

  .container {
    padding: 0;
    margin-top: 1rem;
  }
  .row {
    padding-top: 0.5rem;
  }
  .uploaded-img {
    border-radius: 12px;
    margin: 1.5rem 0;
    padding: 0;
  }
}

.content-card.hidden {
  display: none;
}

.drop-area {
  background: #f6f8fb;
  height: 219px;
  width: 338px;
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: dashed #97bef4;
  border-width: 1px;
}

#upload-box-image {
  padding-top: 2rem;
  padding-bottom: 2.25rem;
}

.done-check {
  background-color: green;
  border-radius: 50%;
  width: 2.5rem;
  align-self: center;
  margin: 1.5rem 0 1rem 0;
}

.loading {
  align-self: flex-start;
}

.spacing {
  margin-top: 1rem;
}

.close-item {
  cursor: pointer;
}
.close-item:hover {
  transform: scale(1.25);
  filter: invert(24%) sepia(90%) saturate(2459%) hue-rotate(341deg)
    brightness(90%) contrast(93%);
}

.progress.indeterminate {
  width: 336px;
  position: relative;
  animation: progress-indeterminate 3s linear infinite;
}
@keyframes progress-indeterminate {
  from {
    left: -25%;
    width: 25%;
  }
  to {
    left: 100%;
    width: 25%;
  }
}
