.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  position: relative; }

#content-wrap {
  padding-bottom: 2.5rem;
  margin: auto;
  padding: 0.25rem; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }

.content-card {
  background-color: #ffffff;
  padding: 1rem;
  width: 402px;
  height: 469px;
  box-shadow: 0.5px 3px 4px 1px rgba(0, 0, 0, 0.1); }

.drop-area {
  background: #f6f8fb;
  height: 219px;
  width: 338px;
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border: dashed #97bef4;
  border-width: 1px; }

#upload-box-image {
  padding-top: 2rem;
  padding-bottom: 2.25rem; }
